.diagram-container
{
  display: inline-block;
  margin-right: 50px;
  user-select: none;
}
.row-planning:hover
{
  background-color: rgba(0,0,0, 0.1);

}
.separator-container {
  display: flex;
  position: absolute;
  padding-left: 299px;
  padding-top: 42px;
  border-top: 1px solid #CCC;
  border-left: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  z-index: -1;
}

.separator-planning
{
  border-left: 1px solid #CCC;

}
.separator-planning:last-child, .row-planning:nth-child(2)
{
  border-right: 1px solid #CCC;
}

.row-planning.title-planning
{
  font-weight: bold;
}
.row-planning:nth-child(2)
{
  border-bottom: 2px solid #CCC;
}
.row-planning
{
  display: grid;
  grid-template-columns: 130px 170px auto;
  grid-template-rows: auto;
}
.planning-label
{
  padding: 8px;
  height: 42px;
  border-bottom: 1px solid #CCC;
}
.planning-title
{
  border-bottom: none !important;
}
.task-name
{
  width: 130px;
}
.task-name, .in-charge, .row-planning:last-child > .btn-group
{
  border-bottom: 1px solid #CCC;
}
.in-charge
{
  width: 170px;
}
.period
{
  background-color: red;
  height: 28px;
  width: 30px;
  margin-top: 6px;
  margin-left: 60px;
  border-radius: 5px;
  border: 1px solid #999;
}
.btn-dropdown-planning, .row-planning > button
{
  grid-column-start: 1;
  grid-column-end: 3;
}
.btn-action-diagram
{
  width: 96%;
  margin: 3px 5px !important;
}

.dropdown-filter-member
{
  width: 96%;
  margin-top: -1px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.left-handle, .right-handle
{
  /*background-color: green;*/
  width: 14px;
  height: 24px;
  margin-top: -2px;
  cursor: col-resize;
}
.left-handle
{
  float: left;
  margin-left: -7px;
}
.right-handle
{
  float: right;
  margin-right: -7px;
}
