#div-team-edition
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
}

.btn-team-edition
{
  text-align : right;
  margin-right: 35px;
}

.btn-remove-member
{
  padding: 0;
}

#tbl_column_color
{
  width: 25%;
}

#tbl_column_name
{
  width: 65%;
}

#tbl_column_Controls
{
  width: 10%;
}
