<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="home.css">
    <title>Home</title>
  </head>
  <body>
    <div id="div-main-menu">
      <button class="btn btn-primary btn-main-menu" id="btn-new-diagram">New</button>
      <button class="btn btn-primary btn-main-menu" id="btn-open-diagram">Open</button>
      <button class="btn btn-primary btn-main-menu" id="btn-quit-app">Quit</button>
    </div>
  </body>
</html>
