#tabs
{
  padding: 0;
  margin: 0;
}

.tab
{
  display : inline-block;
  width: 250px;
  border: 1px solid black;
  text-align: center;
  padding: 4px;
}

.tab-content
{
  padding-top: 20px;
  display : none;
  background-color: gray;
  height: 100%;
}

.active-content
{
  display: block;
}

.active-tab
{
  color: red;
}
