#tabs
{
  padding: 0;
  margin: 0;
}

.tab
{
  display : inline-block;
  width: 250px;
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  text-align: center;
  padding: 4px;
}
.tab i
{
  float: right;
  margin-top: 4px;
  margin-right: 10px;
  color: #555;
  cursor: pointer;
}

.tab-content
{
  display : none;
  height: 100%;
}

.active-content
{
  display: block;
}

.active-tab
{
  font-weight: bold;
}
