.content-view
{
  display: grid;
  grid-template-columns:72px auto;
  grid-template-rows: 100%;
}

.left-button
{
  width: 72px;
}

.left-button, .content
{
  height: 100%;
}

.btn-content
{
  margin: 5px;
  border-radius: 30px;
  border: 1px solid black;
  text-align: center;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn-content > p
{
  margin: 0;
}

.btn-content > p > i
{
  font-size : 26px;
}

.view
{
  display: none;
  height: 100%;
}

.active-view
{
  display: block;
}
