<link rel="stylesheet" type="text/css" href="./views/team-manager/members-table.css">
<script src="./tools/serializertool.js"></script>
<script src="./data/member.js"></script>
<script src="./views/team-manager/members-table.js"></script>

<table id="tbl_members" class="table table-hover">
  <col id="tbl_column_color">
  <col id="tbl_column_name">
  <thead>
    <tr>
      <th scope="col">Color</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>

<div id="div-team-edition" class="btn-group" role="group">
  <button type="button" class="btn btn-primary btn-team-edition" id="btn-add-member">Add</button>
  <button type="button" class="btn btn-primary btn-team-edition" id="btn-modify-member">Modify</button>
  <button type="button" class="btn btn-primary btn-team-edition" id="btn-remove-diagram">Remove</button>
</div>
